PCB/lib/History/
PCB/History/
PCB/_Previews
*.SchDocPreview
*.Zip
PCB/Project Logs for Matrix/
PCB/Project Outputs for Matrix/
Vagrantfile
ubuntu
.vagrant
ubuntu-bionic-18.04-cloudimg-console.log
bootloader/.dep
bootloader/TAGS
bootloader/tags
bootloader/cscope.out
bootloader/build
bootloader/*~
